<div flex="50">

    <md-toolbar layout-margin>
        <div class="md-toolbar-tools">
            Login
        </div>
        <section layout="row" layout-wrap flex>
            <md-input-container flex="50">
                <label>Username</label>
                <input ng-model="login.user.username"/>
            </md-input-container>
            <md-input-container flex="50">
                <label>Password</label>
                <input type="password" ng-model="login.user.password"/>
            </md-input-container>

            <div layout="row" layout-align="space-around" flex="100">
                <md-checkbox class="md-primary black" aria-label="Remember me" ng-model="login.remember" flex="40">
                    {{ login.remember ? 'I shell.' : 'Shell I remember you?'}}
                </md-checkbox>
                <md-button class="md-primary md-raised" aria-label="Login" ng-click="login.login()">Venture forth.
                </md-button>
            </div>


            <div layout="column" flex="100">
                <md-divider flex></md-divider>
                <span class="black" flex>Or login with...</span>

                <div layout="row" layout-align="space-around" flex>
                    <a href="/auth/facebook">
                        <img src="images/facebook-login.png" alt=""/>
                    </a>
                </div>
            </div>
        </section>
    </md-toolbar>
</div>