<div>
    <label>Name: <input type="text" ng-model="selectedMonster.name"></label>
</div>
<div><label>HP: <input type="number" ng-model="selectedMonster.HP" class="num"></label>
    <label> Armor: <input type="number" ng-model="selectedMonster.armor"  class="num"></label>
</div>
<div>Attack:</div>
<div>
    <input type="text" ng-model="selectedMonster.attack.action">
    (<input type="text" ng-model="selectedMonster.attack.roll"> dmg +
    <input type="number" ng-model="selectedMonster.attack.piercing"  class="num"> piercing)
</div>
<div>
    <label>Attack tags:
        <multi-select
                input-model="monsterAttackTags"
                button-label="name"
                item-label="name"
                tick-property="selected"
                output-model="selectedMonster.attack.extra"
                helper-elements="filter"
                default-label="Attack Tags">
        </multi-select>
    </label>

</div>
<div>
    <label>Tags:
        <multi-select
                input-model="monsterTags"
                button-label="name"
                item-label="name"
                tick-property="selected"
                output-model="selectedMonster.tags"
                helper-elements="filter"
                default-label="Monster Tags">
        </multi-select>
    </label>
</div>
<div><label>Special Quality: <input type="text" ng-model="selectedMonster.specialQuality"></label></div>
<div><label>Instinct: <input type="text" ng-model="selectedMonster.instinct" class="desc"></label></div>
<div>
    <div>Moves:<span ng-click="addMove(selectedMonster)">(+)</span></div>
    <div ng-repeat="move in selectedMonster.moves track by $index" >
        <input type="text" ng-model="selectedMonster.moves[$index]" class="desc"><span ng-click="removeMove(selectedMonster, $index)">(-)</span>
    </div>
</div>
<button ng-click="editableExit()">OK</button>
<!--<button ng-if="selectedMonster.generated" ng-click="reGenerate()">Generate</button>-->


