<div id="container" class="center-block row panel panel-default">

    <div class="panel-body">
        <div id="drawingCanvas" class="panel panel-default col-md-8">
            <div class="panel-body ">
                <div class="literally">

                </div>
            </div>
        </div>

        <div id="chat" class="panel panel-default col-md-4" scroll-glue>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="message in chat.messages" ng-class-even="'even-message'" ng-class-odd="'odd-message'">
                        <div>
                            <h4>{{message.user.name}}</h4>
                            <h5 class="message-content">{{message.text}}</h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <textarea class="form-control" ui-keypress="{enter:'chat.send($event)'}" title="sfd"></textarea>
    </div>
</div>

