<!--<ul>-->
<!--<li>Player Characters</li>-->
<!--<li>NPCs-->
<!--<ul>-->
<!--<li>Name</li>-->
<!--<li>Skills</li>-->
<!--<li>Background</li>-->
<!--<li>Description</li>-->
<!--<li>Personality</li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>NPC Generator</li>-->

<!--</ul>-->

<tabset>
    <tab heading="PCs" class="tab-pane">
        <div ng-repeat="pc in PCs">
            <div><span>Name: {{pc.name}}    </span><span>Race: {{pc.race}}</span>
            </div>
            <div><span>Class: {{pc.class.name}}    </span><span>level: {{getLevelByXp(pc.xp)}} </span>
            </div>
            <div><span>XP: <input type="number" ng-model="pc.xp"></span>
                <span>({{getRemainderXp(pc.xp)}} to next level)</span>
            </div>
            <div><span>Damage: {{pc.class.damage}} </span><span>Armor: {{pc.armor}} </span><span>HP:
                <input type="number" ng-model="pc.hp" ng-init="pc.hp=getMaxHp(pc)"> of {{getMaxHp(pc)}}</span>
            </div>
            <div>
                <ul>
                    <li ng-repeat="(stat, val) in pc.stats">
                        {{stat}}: {{val}} (<span ng-if="getModifier(val)>0">+</span>{{getModifier(val,debility)}})
                        <input type="checkbox" ng-model="debility" ng-init="debility=false">{{debilities[stat]}}
                    </li>
                </ul>
            </div>
            <div>
                <span>Drive: {{pc.drive}}</span>
            </div>
            <div>
                Moves:
                <ul>
                    <li ng-repeat="move in pc.class.moves">
                        {{move.name}}:
                        <p>{{move.desc}}</p>
                    </li>
                </ul>
            </div>
            <div>
                Inventory: (load: {{totalWeight(pc.inventory)}} of {{pc.class.baseMaxLoad + pc.stats.STR}})
                <table>
                    <thead><td>Name</td><td>Uses</td><td>Weight</td><td>Value</td></thead>
                    <tr ng-repeat="item in pc.inventory">
                       <td>{{item.name}}<td><td>{{item.quantity}}</td><td><span ng-if="item.weight>0">{{item.weight}}</span></td><td>{{item.price}}</td>
                    </tr>
                </table>
            </div>



        </div>
    </tab>
    <tab heading="NPCs" class="tab-pane">
    </tab>
</tabset>