        <tabset>
            <tab heading="monsters" class="tab-pane">
                <div ng-if="fightingMonsters.length > 0" class="fight-arena">
                    <div class="h1">Fight!</div>
                    <div ng-repeat="monster in fightingMonsters track by $index" class="monster-descriptor">
                        <div><input type="text" ng-model="monster.name"></div>
                        <div>HP: <input type="number" ng-model="monster.HP"></div>
                        <div>armor: {{monster.armor}}</div>
                        <div>{{monster.attack.action}} ({{monster.attack.roll}} dmg <span ng-if="monster.attack.piercing">+{{monster.attack.piercing}} piercing</span>)</div>
                        <div><span ng-repeat="tag in monster.attack.extra">{{tag}}</span></div>
                        <div><span ng-repeat="tag in monster.tags">{{tag}}</span></div>
                        <div ng-if="monster.specialQuality">Special Quality: {{monster.specialQuality}}</div>
                        <div>instinct: {{monster.instinct}}</div>
                        <div><ul><li ng-repeat="move in monster.moves">{{move}}</li></ul></div>
                        <button ng-click="removeMonster($index)">Dead!</button>
                    </div>
                </div>
                <div ng-repeat="monster in monsters" class="monster-descriptor">
                    <button ng-click="onMonsterEdit($index)">edit</button>
                    <button>pic</button>
                    <div>{{monster.name}}</div>
                    <div>HP {{monster.HP}}</div>
                    <div>armor: {{monster.armor}}</div>
                    <div>{{monster.attack.action}} ({{monster.attack.roll}} dmg <span ng-if="monster.attack.piercing">+{{monster.attack.piercing}} piercing</span>)</div>
                    <div><span ng-repeat="tag in monster.attack.extra">{{tag}}</span></div>
                    <div><span ng-repeat="tag in monster.tags">{{tag}}</span></div>
                    <div ng-if="monster.specialQuality">Special Quality: {{monster.specialQuality}}</div>
                    <div>instinct: {{monster.instinct}}</div>
                    <div><ul><li ng-repeat="move in monster.moves">{{move}}</li></ul></div>
                    <button  ng-click="fightMonster($index)">Fight!</button>
                </div>
                <button class="btn btn-primary encounter-generator">Generate</button>
            </tab>
            <tab heading="traps" class="tab-pane">
                <div ng-repeat="trap in traps" class="trap-descriptor">
                    <button>edit</button>
                    <div>{{trap.name}}</div>
                    <div>HP {{monster.HP}}</div>
                    <div>armor: {{monster.armor}}</div>
                    <div>{{monster.attack.action}} ({{monster.attack.roll}} dmg <span ng-if="monster.attack.piercing">+{{monster.attack.piercing}} piercing</span>)</div>
                    <div><span ng-repeat="tag in monster.attack.extra">{{tag}}</span></div>
                    <div><span ng-repeat="tag in monster.tags">{{tag}}</span></div>
                    <div ng-if="monster.specialQuality">Special Quality: {{monster.specialQuality}}</div>
                    <div>instinct: {{monster.instinct}}</div>
                    <div><ul><li ng-repeat="move in monster.moves">{{move}}</li></ul></div>
                    <button>Fight!</button>
                </div>
            </tab>
            <tab heading="treasures" class="tab-pane"></tab>
        </tabset>
        <div class="sideMenu">
            <ul>
                <li ng-repeat="region in regions" ng-click="onRegionClick($index)">
                                                  {{region.name}}
                </li>
            </ul>
            </div>
                <div ng-if="editMode" ng-include="'templates/editableMonster.html'" class="monster-edit">
                </div>
