<div>
    <img src="../images/DungeonWorldLogo.jpg">
    GM Manager
    <div>
        <ul class="tab-pane nav-tabs">
            <li>
                <a ui-sref="Maps">Maps</a>
            </li>
            <li>
                <a ui-sref="Chars">Chars</a>
            </li>
            <li>
                <a ui-sref="Moves">Moves</a>
            </li>
            <li>
                <a ui-sref="Plots">Plots</a>
            </li>
            <li>
                <a ui-sref="Encounters">Encounters</a>
            </li>
        </ul>
    </div>
</div>
