.message-content{
    white-space: pre-wrap;
}

#container{
    width: 80%;
    height: 100%;
}

#container > .panel-body, #container > .panel-body > div {
    height: 95%;
}

#drawingCanvas > .panel-body{
    height: 100%;
}

.literally{
    height: 100%;
}

#chat{
    overflow-x: scroll;
}

.eden-message{
    background: #FFFFFF;
}
.odd-message{
    background:#CCCCCC;
}

